{# fichier html de la page "à propos de nous" #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{asset('css/about_us.css')}}" rel="stylesheet" />
{% endblock %}
{% block title %}And's Homme| A propos de nous{% endblock %}

{% block body %}
    <main>

    <div class="TextAboutUs">

        <p>Quand il est question de prendre soin de soi il faut le meilleur et c’est pour cela qu’en tant qu’anciens experts en produits pharmaceutiques nous avons décidés de nous spécialiser dans les cosmétiques pour homme.</p>

        <p>Au sein de notre entreprise, nous possédons un département exclusif pour la conception de produits innovants, distingués et respectueux de l’environnement. Nous souhaitons le meilleur pour votre beauté et pour cela nous sélectionnons des matières premières de qualités afin de vous offrir un service au-delà de vos attentes.</p>

        <p>Nous nous efforçons chaque mois de sortir une nouvelle gamme de produits sélectionnée finement par nos experts et ce dans l’optique d’offrir à nos clients le meilleur service à des prix abordables. </p>

        <p>Je suis Mathéo Souchet, fondateur de l’entreprise And’s Homme, de part mes nombreuses expériences dans le domaine des cosmétiques, j’ai constaté que la majorité des produits étaient pensés par des femmes et pour des femmes. C’est donc pour cela que j’ai mis un point d’honneur à me consacrer à la création de produits cosmétiques destinés aux hommes.</p>

        <p>Notre site est basé à Linselles, une petite commune dans le Nord de la France. Ce choix de lieux offre un cadre propice aux innovations par l’espace dont nous disposons ainsi que sa proximité avec nos matières premières. Ceci nous permet donc de limiter nos coûts de production afin de proposer à nos clients des prix compétitifs.</p>

        <p>Nos produits sont disponibles dès aujourd’hui à travers toute la France dans nos boutiques ainsi que sur notre site.</p>
    </div>

        <div class="TextAboutUs2">
            <p>"<strong>And’s Hommes, parce que les hommes aussi méritent le meilleur.</strong>"</p>
        </div>


    <main>

{% endblock %}